# ========= Builds & caches =========
.next/
out/
.vercel/
coverage/

# ========= Dependencies =========
node_modules/

# ========= Logs =========
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store


.env
.env.*
!.env.example

# ========= Hardhat artifacts (generated) =========
deploy/artifacts/
deploy/cache/


.giwa-intent-vercel/deploy/node_modules/
