# builds & deps
node_modules
.next
out
.vercel
coverage

# logs & OS junk
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# env files (jangan dipush)
.env*
!.env.example   # tetapi contoh env tetap dipush
